.card-title { 
    cursor: pointer; 
}

.brand-logo {
    font-family: "Luckiest Guy", cursive;
}

.errorAlert {
    font-size: 24px;
}

.main {
    background-image: url("../images/kevin-hernandez-446780-unsplash.jpg");
    background-size: cover;
}

.player2,.flipMe {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    float: right;
}

.player {
    position: relative;
    float: left;
    height: 140px;
    width: 80px;
    margin-top: 8px;
}

.cpu {
    position: relative;
    float: right;
    height: 140px;
    width: 80px;
    margin-top: 8px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.player1, .player2 {
    width: 150px;
    height: 270px;
    margin-left: 8px;
    margin-bottom: 8px;
}


#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 20%;
    left:50%;  
  }


.cpuReadOut {
    float: right;
    position: relative;
    background-color: blue;
}


h7 {
    position: relative;
    display: block;
}

#nickName, #cpuNickName{
    width: 200px;
    background-color: Yellow;
}

#playeHealth{
    width: 100px;
    background-color: green;
}

#playerStrength{
    width: 100px;
    background-color: violet;
}
.barCol,.playerBarCol,.cpuBarCol{
    margin-left: 0px;
    padding: 0px;
    margin-top: 8px;
    background-color:white;
}

.boxWidth {
    float: left;
    background-color: blue;
    width: 413px;
    height:200px;
}

.cpuReadOut,.playerReadOut {
    position: relative;
    background-color: blue;
    height:200px;
    width: 325px;
}

#cpuWit {
    position: relative;
    width: 100px;

}

#cpuStrength{
   
    position: relative;
    width: 100px;
}

#cpuBooze {
   
    background-color: maroon;
    width: 10px;
}

.bottom {
    margin-top: 0px;
    width: 100%;
    height: 400px;
    background-color: orange;
}

.top {
    width: 100%;
    background-color: blue;
}

.playerFighter {
    float: left;
    margin-top: 80px;
    height: 300px;
    width: 180px;
}

.cpuFighter{
    float: right;
    margin-top: 80px;
    height: 300px;
    width: 180px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.playerZone {
    float: left;
    position: relative;
    background-color: red;
    width: 424px;
}

.cpuZone {
    float: right;
    position: relative;
    background-color: blue;
    width:425px;
}

.displayBox {
    position: absolute;
    height: 360px;
    width: 360px;
    background-color: greenyellow;
    margin-left: 38%;
    margin-top: -40%;
    display: none;
    
}

.playerPunch{
    position: absolute;
    margin-left: 388px;
    
}

.playerStab{
    position: absolute;
    margin-left: 328px  ;
    
}

.playerThrow{
    position: absolute;
    margin-left: 268px;
}
.cpuPunch{
    position: absolute;
    margin-left: -40px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.cpuStab{
    position: absolute;
    margin-left: 20px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.cpuThrow{
    position: absolute;
    margin-left: 80px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}